.header {
    overflow: hidden;
    background-color: $white;
    @include box-shadow-1;

    h1 {
        padding-top: 3px;
        margin-top: 0;
    }

    ul {
        list-style-type: none;
        margin: 0;
    }

    li {
        float: left;
        display: block;
    }

    .links  {
        float: right;
        margin-right: 1rem;
        margin-top: 0;
        padding-top: 0;
        text-align: center;
        button {
            color: $gray2 !important;
            border-radius: 0;
            &#active {
                border-bottom: 3px solid $mainColor;
            }
        }

    }

    .user  {
        float: right;
        margin-right: 1rem;
        margin-top: 0;
        padding-top: 0;
        text-align: center;
        margin-left: 1rem;
        margin-top: 6px;
    }

    .logo {
        color: darken($mainColor, 35%);
        padding: 0.2rem 1rem;
        // @TODO edit when logo is added
        font-size: 0.8em;
    }

    //UserChip styles
    .mdl-chip__contact {
        padding-top: 4px;
    }
    .mdl-chip__text {
        padding-left: 5px;
        padding-right: 5px;
        font-weight: 500;
        text-transform: uppercase;
    }
    .mdl-chip--action {
        transition-duration: 0.3s;
        transform: rotate(0deg);

        &:hover {
            transform: rotate(120deg);
        }
    }
}
