.header {
    overflow: hidden;
    background-color: $white;
    @include box-shadow-1;

    ul {
        list-style-type: none;
        margin: 0;
    }

    li {
        float: left;
        display: block;
        color: $fgBlack;
    }

    ul > .links ~ .links{
        // margin only for last (first in HTML file) link
        margin-right: 0;
    }
    .links  {
        float: right;
        margin-left: 0;
        margin-right: 1rem;
        margin-top: 11px;
        text-align: center;

        a {
            color: $fgBlack;
            padding: 12px 16px;
            text-decoration: none;

            &:hover {
                background-color: $darken1;
                // @TODO keep or delete?
                border-bottom: 4px solid $darken1;
            }

            &.active {
                border-bottom: 4px solid $mainColor;
            }
            &.icon {
                padding-top: 18px !important;
                padding-bottom: 5px !important;
            }
        }
    }


    .logo {
        color: darken($mainColor, 35%);
        padding: 0.2rem 1rem;
        // @TODO edit when logo is added
        font-size: 0.8em;
    }
}
