.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: $bgColor1; //$fgWhite;
    color: $fgWhite;
    transition: all 300ms ease;
    overflow: hidden;
    z-index: 1;
    @include inset-box-shadow;

    // Sidebar menu
    ul {
        display: table;
        width: $sidebarW * 4;

        a {
            color: inherit;
            font-weight: inherit;
            text-decoration: none;
            &.mdl-js-ripple-effect {
                display: inline-block; //Important, without that the button won't appear correctly
                position: relative;    //without it, ripple will be offset
            }
            &.active {
                background: $darken1;
            }
        }

		.full-opacity {
			opacity: 1;
		}

        li {
            display: table-row;
            cursor: pointer;

            i {
                width: $sidebarW;
                text-align: center;
                position: relative;
            }

            div {
                height: $sidebarW;
                line-height: $sidebarW;
                display: table-cell;

                // Icon (firs div)
                &:nth-child(1) {
                    width: $sidebarW;
                    text-align: center;
                }

                // Text (second div)
                &:nth-child(2) {
                    width: $sidebarW * 3;
                    text-align: left;
                    padding-left: $sidebarW / 5;
                }
            }

            &.user {
                height: $headerHeight;
                background-color: $mainColor;
                color: white;

				img {
					width: 35px;
				}

                div {
					font-size: 20px;
                    line-height: $headerHeight;
                    height: $headerHeight;
					b {
						font-weight: normal;
					}
                }
            }
        }
    }
}
