$bgColor0: #E5E9EC; //#f3f3f3;
$bgColor1: #323544;
$mainColor: #673AB7;
$secColor: #F35957; //#FF2D55;
$fgBlack: #1F1F21;
$fgWhite: #F7F7F7;

$gray0: #E0E0E0;
$gray2: #616161;

$white: white;

$darken1: rgba(0, 0, 0, 0.1);
$darken2: rgba(0, 0, 0, 0.3);

// Scrollbar
$SBThumb: #ccc;
$SBThumbHover: #aaa;
$SBThumbActive: #8a8a8a;
$SBTrackHover: #eaeaea;

// Additional colors
$blue: #0090D9;
$green: #0AA699;
$red: $secColor;
$purple: $mainColor;

// Darken values
$drk1: 10%;
$drk2: 20%;

// *** Can be deleted ***
// Greens
$flat-turquoise: #1ABC9C;
$flat-green-sea: #16A085;
$flat-emerald: #2ECC71;
$flat-nephritis: #27AE60;

// Blues
$flat-peter-river: #3498DB;
$flat-belize-hole: #2980B9;
$flat-wet-asphalt: #34495E;
$flat-midnight-blue: #2C3E50;

// Purples
$flat-amethyst: #9B59B6;
$flat-wisteria: #8E44AD;

// Yellows
$flat-sunflower: #F1C40F;

// Oranges
$flat-orange: #F39C12;
$flat-carrot: #E67E22;
$flat-pumpkin: #D35400;

// Reds
$flat-alizarin: #E74C3C;
$flat-pomegranate: #C0392B;

// Grays
$flat-clouds: #ECF0F1;
$flat-silver: #BDC3C7;
$flat-concrete: #95A5A6;
$flat-asbestos: #7F8C8D;

.bgcolor--main {
    background-color: $mainColor;
}
