// Abstracts
@import
    'abstracts/variables',
    'abstracts/colors',
    'abstracts/mixins';
// Typography
@import
    'typography/typography';
// Layout
@import
    'layout/layout';
// Components
@import
    'components/chart',
	'components/dashboard',
    'components/header',
    'components/sidebar',
    'components/gamecard',
    'components/game',
    'components/scrollbar';


* {
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
}

body {
  background: $bgColor0;
  color: $fgBlack;
  overflow-y: hidden;
  cursor: default;
}

h1 {
	font-size: 25px;
	font-weight: 300;
	color: $gray2;
}
